@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Get To Know Joel</title>
</head>
<body>
<h2>Get to Know Joel</h2>

<p>
    <a href="https://www.qwcomedy.com/" target="_blank">
        Quick Wits Comedy
    </a>
</p>

<p>
    <a href="https://baconsale.com/" target="_blank">
        Baconsale Podcast
    </a>
</p>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg"
         alt="Baconsale"
         width="300"/>
</a>

</body>
</html>