@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>

    <img src="~/img/JoelHiltonHeadshot.jpg" 
         alt="Joel Hilton" width="300"/>
</div>